# 점프투파이썬 2장 이어서
## 3절 리스트

In [2]:
print("안녕하세요.")

안녕하세요.

In [3]:
print(123)

123

# 리스트 만들기

In [4]:
# 빈 리스트
a=[]
a

[]

In [5]:
b=[1,2,3]
b

[1, 2, 3]

In [6]:
c=["Life", "is", "too", "short"]
c

['Life', 'is', 'too', 'short']

In [7]:
d= [1, 2, "Life", "is"]
d

[1, 2, 'Life', 'is']

In [8]:
e = [1, 2, ["life", "is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [9]:
[0,5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [10]:
a = [1,2,3]
a

[1, 2, 3]

In [11]:
a[1]

2

In [12]:
a[-1]

3

In [13]:
e

[1, 2, ['life', 'is']]

In [14]:
e[2]

['life', 'is']

In [15]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [4]:
a=[1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [19]:
b= a[0:2]
b

[1, 2]

In [5]:
b = a[:2]
b

[1, 2]

### 리스트의 연산자

In [6]:
print(a,b)
print(b)

[1, 2, 3, 4, 5] [1, 2]
[1, 2]

In [7]:
c =a + b
c

[1, 2, 3, 4, 5, 1, 2]

In [8]:

c*2

[1, 2, 3, 4, 5, 1, 2, 1, 2, 3, 4, 5, 1, 2]

In [10]:
c.sort()
c

[1, 1, 2, 2, 3, 4, 5]

### 리스트의 수정, 변경, 삭제

In [35]:
# 하나의 값 수정하기
a=[1,2,3]

In [36]:
a[2] =4
a

[1, 2, 4]

In [37]:
# 연속된 범위의 값 수정
a[2:3]

[4]

In [38]:
a[2:3] = ['a','b','c']
a

[1, 2, 'a', 'b', 'c']

In [39]:
# 중첩하여 수정
a[2] = ['a', 'b', 'c']

In [40]:
a

[1, 2, ['a', 'b', 'c'], 'b', 'c']

In [41]:
# 리스트 요소 삭제

In [45]:
a=[1,2,3]
del a[2]
a

[1, 2]

In [46]:
a=[1,2,3,4]
del a[1:3]
a

[1, 4]

### 리스트 함수

In [47]:
#리스트에 요소 추가

In [48]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [49]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [51]:
#리스트 정렬
a = [1,4,3,5,2,6,8,7]
a. sort()
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [52]:
# 리스트 뒤집기
a= [1,3,4,2,5]
a.reverse()
a

[5, 2, 4, 3, 1]

In [53]:
#위치 반환
a=[1,2,3]
a.index(3)
#3의 위치는?

2

In [54]:
#리스트에 요소 삽입
a= [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [56]:
a.insert(3,5)
a

[4, 1, 2, 5, 5, 3]

In [58]:
#리스트 요소 제거
a=[1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [59]:
#리스트 요소 꺼내기
a=[1,2,3]
a.pop()

3

In [60]:
a

[1, 2]

In [61]:
#요소 개수 세기
a=[1,2,3,1]
a.count(1)

2

In [62]:
#라스트 확장
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [65]:
a.append([4,5])
a

[1, 2, 3, 4, 5, [4, 5]]

## 튜플

In [67]:
t1 =()
t2=(1,)
t3=(1,2,3)
t4=1,2,3
print(t1,t2,t3,t4)

() (1,) (1, 2, 3) (1, 2, 3)

In [68]:
del t3[0]

TypeError: 'tuple' object doesn't support item deletion

## 딕셔너리

In [69]:
dic = {'name':'허동숙', 'phone':'0123456789'}
print(dic)

{'name': '허동숙', 'phone': '0123456789'}

In [70]:
dic['name']

'허동숙'

In [71]:
dic['phone']

'0123456789'

In [11]:
dic = {'name':'이정우', 'name':'홍길동'}

In [13]:
dic['name']

'홍길동'

In [74]:
# 키가 뭐뭐 있나?
dic.keys()

dict_keys(['name'])

In [76]:
dic.values()

dict_values(['홍길동'])

### 불자료형(bool)

In [78]:
# T / F
# True / False
3 > 1

True

In [79]:
1>3

False

In [80]:
if []:
        print("참")
else:
        print("거짓")

거짓

In [83]:
if "ㄴㅇㅇ":
        print("참")
else:
        print("거짓")

참

### 3장 제어문

1.if문

In [85]:
money = 0 #돈이 있다.
if money: 
    print("택시 타자")
else:
    print("걸어가야해")

걸어가야해

In [86]:
# 기본구조
if 조건문:
    수행 문장 1
    수행 문장 2
else:
    수행 문장A
    수행 문장B
# Tab 1번 또는 spacebar 4번

SyntaxError: invalid syntax (<ipython-input-86-faa055532199>, line 3)

In [87]:
money = 2000 #내 돈
if money >= 3000:
    print("택시타자")
else:
    print("걸어가자")

걸어가자

In [88]:
money = 2000
card = 1 #카드가 있다
if money >= 3000 or card :
    print("택시타자")
else:
    print("걸어가자")

택시타자

In [89]:
pocket = ['paper', 'phone', 'card']
if 'money' in pocket:
    print("택시 타자")
else:
    if card:
        print("택시 타자")
    else:
        print("걸어 가라")

택시 타자

In [90]:
# elif를 사용
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걷기")

택시

In [ ]:
#구문
if <조건문>:
    수행문장1
    수행문장2
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
elif <조건문>:
    수행문장1
else:
    수행문장1