# 파이썬 기초3
## 2. 데이터 취득과 가공

본 장은 ["따라 하며 배우는 데이터 과학"](https://dataninja.me/ipds-kr/) 3장의 
"데이터 취득과 데이터 가공: SQL과 dplyr" 내용의 파이썬 버전입니다.

### 데이터 과학의 원재료는 데이터다.
- (장을 보는 기술)데이터 과학의 기본 기술은 데이터를 여러소스로부터 분석 플랫폼으로 읽어 들이는 데이터 취득(data aquisition or data import) 및
- (칼질)데이터를 분석 플랫폼 안에서 필요한 모양으로 가공해내는 데이터 가공(data processing, data wrangling) 기술이다.

## 데이터 취득
- 데이터 분석 실무에서 데이터 소스는 대부분의 경우 다음 중 하나이다.
    1. 표 형태 텍스트 파일: 대부분 컴마나 탭문자로 열이 구분된 형태이다.
    2. 엑셀 파일: 엑셀 파일은 확장자가 xls 혹은 xlsx인 마이크로소프트 엑셀 형식 파일이다.(csv도 포함된다.)
    3. 관계형 데이터베이스(RDBMS): 오라클과 같은 상용 데이터베이스나 MySQL, PostgreSQL 같은 오픈소스 데이터베이스 시스템이다. 데이터를 데이터베이스 테이블에 저장한다.
    4. 다른 소프트웨어용 이진(binary) 파일: SAS, SPSS 등의 소프트웨어는 자체 데이터 포맷을 사용한다.

#### Data Sources:
- `data/gapminder.tsv` : https://raw.githubusercontent.com/jennybc/gapminder/master/data-raw/08_gap-every-five-years.tsv

In [3]:
# matplotlib 패키지의 출력 세팅
#%matplotlib inline
# pandas 패키지 불러오기
import pandas as pd
# numpy 패키지 불러오기
import numpy as np

# 1. gapminder 자료 읽어들이기

In [5]:
# gapminder 자료를 다운로드하고 판다스 데이터프레임으로 읽어들이자
gapminder = pd.read_csv("gapminder.tsv", sep="\t")

In [6]:
# 첫 5행 불러오기
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
# 끝 5행 불러오기
gapminder.tail()

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [10]:
# 데이터 정보
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [11]:
# 요약통계
gapminder.describe

<bound method NDFrame.describe of           country continent  year  lifeExp       pop    gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333   779.445314
1     Afghanistan      Asia  1957   30.332   9240934   820.853030
2     Afghanistan      Asia  1962   31.997  10267083   853.100710
3     Afghanistan      Asia  1967   34.020  11537966   836.197138
4     Afghanistan      Asia  1972   36.088  13079460   739.981106
5     Afghanistan      Asia  1977   38.438  14880372   786.113360
6     Afghanistan      Asia  1982   39.854  12881816   978.011439
7     Afghanistan      Asia  1987   40.822  13867957   852.395945
8     Afghanistan      Asia  1992   41.674  16317921   649.341395
9     Afghanistan      Asia  1997   41.763  22227415   635.341351
10    Afghanistan      Asia  2002   42.129  25268405   726.734055
11    Afghanistan      Asia  2007   43.828  31889923   974.580338
12        Albania    Europe  1952   55.230   1282697  1601.056136
13        Albania    Europe  1957   59.280   1476505  1942.284244
14        Albania    Europe  1962   64.820   1728137  2312.888958
15        Albania    Europe  1967   66.220   1984060  2760.196931
16        Albania    Europe  1972   67.690   2263554  3313.422188
17        Albania    Europe  1977   68.930   2509048  3533.003910
18        Albania    Europe  1982   70.420   2780097  3630.880722
19        Albania    Europe  1987   72.000   3075321  3738.932735
20        Albania    Europe  1992   71.581   3326498  2497.437901
21        Albania    Europe  1997   72.950   3428038  3193.054604
22        Albania    Europe  2002   75.651   3508512  4604.211737
23        Albania    Europe  2007   76.423   3600523  5937.029526
24        Algeria    Africa  1952   43.077   9279525  2449.008185
25        Algeria    Africa  1957   45.685  10270856  3013.976023
26        Algeria    Africa  1962   48.303  11000948  2550.816880
27        Algeria    Africa  1967   51.407  12760499  3246.991771
28        Algeria    Africa  1972   54.518  14760787  4182.663766
29        Algeria    Africa  1977   58.014  17152804  4910.416756
...           ...       ...   ...      ...       ...          ...
1674  Yemen, Rep.      Asia  1982   49.113   9657618  1977.557010
1675  Yemen, Rep.      Asia  1987   52.922  11219340  1971.741538
1676  Yemen, Rep.      Asia  1992   55.599  13367997  1879.496673
1677  Yemen, Rep.      Asia  1997   58.020  15826497  2117.484526
1678  Yemen, Rep.      Asia  2002   60.308  18701257  2234.820827
1679  Yemen, Rep.      Asia  2007   62.698  22211743  2280.769906
1680       Zambia    Africa  1952   42.038   2672000  1147.388831
1681       Zambia    Africa  1957   44.077   3016000  1311.956766
1682       Zambia    Africa  1962   46.023   3421000  1452.725766
1683       Zambia    Africa  1967   47.768   3900000  1777.077318
1684       Zambia    Africa  1972   50.107   4506497  1773.498265
1685       Zambia    Africa  1977   51.386   5216550  1588.688299
1686       Zambia    Africa  1982   51.821   6100407  1408.678565
1687       Zambia    Africa  1987   50.821   7272406  1213.315116
1688       Zambia    Africa  1992   46.100   8381163  1210.884633
1689       Zambia    Africa  1997   40.238   9417789  1071.353818
1690       Zambia    Africa  2002   39.193  10595811  1071.613938
1691       Zambia    Africa  2007   42.384  11746035  1271.211593
1692     Zimbabwe    Africa  1952   48.451   3080907   406.884115
1693     Zimbabwe    Africa  1957   50.469   3646340   518.764268
1694     Zimbabwe    Africa  1962   52.358   4277736   527.272182
1695     Zimbabwe    Africa  1967   53.995   4995432   569.795071
1696     Zimbabwe    Africa  1972   55.635   5861135   799.362176
1697     Zimbabwe    Africa  1977   57.674   6642107   685.587682
1698     Zimbabwe    Africa  1982   60.363   7636524   788.855041
1699     Zimbabwe    Africa  1987   62.351   9216418   706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340   693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948   792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563   672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143   469.709298

[1704 rows x 6 columns]>

## 데이터 가공
- 원데이터를 여러 연산을 통해서 필요한 시각화, 모형화에서 사용할 수 있는 데이터, 즉 적절한 관측치는 행(row)으로, 적절한 변수(variables)는 열(column)로 되어 있는 테이블 형태로 변환하는 작업이다.
- 즉 목적 데이터는
    1. 테이블 형태이다.
    2. 각 행(row)은 적절한 관측치를 나타낸다.
    3. 각 열(column)은 적절한 변수를 나타낸다.

![행과열](column&row.gif)

- 데이터를 어떻게(how) 분석할지에 대한 지식은 통계학, 데이터 마이닝의 기반 지식이 필요로 한다.
- 그러나, 데이터 분석 실무에서 보통 데이터 과학자의 데이터 분석 작업 시간의 70~80% 이상은 데이터 가공에 소요된다.
- 적절한 지식과 데이터 가공 역량을 보유하여야 퍼포먼스를 높일 수 있다.

# 데이터를 처리하는 핵심 동사

## 1. 행을 선택하기

In [12]:
# gapminder 데이터에서 한국 데이터, 2007년 데이터, 한국 2007년 데이터를 추출하는 명령은 다음과 같다.
gapminder.query("country == 'Korea, Rep.' & year == 2007")

         country continent  year  lifeExp       pop    gdpPercap
851  Korea, Rep.      Asia  2007   78.623  49044790  23348.13973

## 2. 행(관측치)를 정렬하기

In [13]:
#  gapminder 데이터를 year, country 변수순으로 정렬하려면,
gapminder.sort_values(by = ["year", "country"]).head()

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
12      Albania    Europe  1952   55.230   1282697  1601.056136
24      Algeria    Africa  1952   43.077   9279525  2449.008185
36       Angola    Africa  1952   30.015   4232095  3520.610273
48    Argentina  Americas  1952   62.485  17876956  5911.315053

## 3. 열(변수)를 선택하기

In [15]:
#  gapminder 데이터에서 pop, gdpPercap 변수만 선택.
gapminder[["pop", "gdpPercap"]].head()

        pop   gdpPercap
0   8425333  779.445314
1   9240934  820.853030
2  10267083  853.100710
3  11537966  836.197138
4  13079460  739.981106

In [18]:
# 행은 인덱싱이나 슬라이싱
# 열은 해당 컬럼명이나 인뎅싱이나 슬라이싱
gapminder.ix[100, "country"]
gapminder.ix[1, 3:5]

lifeExp     30.332
pop        9240934
Name: 1, dtype: object

## 4. 변수 변환하기

In [ ]:
#  gapminder 데이터에서 기존의 변수들을 변환한 결과를 기존 변수나 새 변수에 할당한다. 

# 1. 파이썬에서는 각 변수 할당에 새로운 assign() 함수를 사용해야 한다.
# 2. x.pop 은 내부의 pop() 함수와 충돌을 일으키므로 x['pop']으로 표현했다.
# 3. lambda는 함수를 생성할 때 사용하는 예약어로, def와 동일한 역할을 한다. 
# 보통 함수를 한줄로 간결하게 만들 때 사용한다. 우리말로는 "람다"라고 읽고 def를 사용해야 할 정도로 복잡하지 않거나 def를 사용할 수 없는 곳에 주로 쓰인다.
# lambda 인수1, 인수2, ... : 인수를 이용한 표현식
gapminder.\
    assign(total_gdp ).\
    assign(le_gdp_ratio ).\
    assign(lgrk = ).\
    head()

## 5. 요약 통계량 계산하기

In [ ]:
# 평균, 중앙값 계산
gapminder.aggregate(['mean', 'median'])

## 6. 랜덤 샘플을 위한 sample()

- 컴퓨터 프로그램에서 발생하는 무작위 수는 사실 엄격한 의미의 무작위 수가 아니다. 어떤 특정한 시작 숫자를 정해 주면 컴퓨터가 정해진 알고리즘에 의해 마치 난수처럼 보이는 수열을 생성한다. 이런 시작 숫자를 시드(seed)라고 한다.
- 일단 생성된 난수는 다음번 난수 생성을 위한 시드값이 된다. 따라서 시드값은 한 번만 정해주면 된다. 시드는 보통 현재 시각등을 이용하여 자동으로 정해지지만 사람이 수동으로 설정할 수도 있다. 특정한 시드값이 사용되면 그 다음에 만들어지는 난수들은 모두 예측할 수 있다. 이 책에서는 코드의 결과를 재현하기 위해 항상 시드를 설정한다.

In [ ]:
# 무작위 발생을 위한 seed 셋팅

# gapminder에서 무작위 10개 고르기

## 7. 고유한 행을 찾아내는 unique( )

In [ ]:
# gaminder 국가와 연도의 고유한 1가지 행을 찾기

In [ ]:
# 중복 제거

# group_by() 를 이용한 그룹 연산

In [ ]:
# 2007년의 # 대륙별로 그룹화하여 # lifeEXP의 중앙값을 구하라
gapminder.\
    query().\
    groupby().\
    agg()

# 조인 연산자;  inner, outer, left, right join
```
파이썬 판다스에서는 `DataFrame.merge` 함수로 처리하면 된다.

In [ ]:
# df1 만들기
df1 = 
df1

In [ ]:
# df2 만들기
df2 = 
df2

![그룹연산](data join50.png)

In [ ]:
# inner join

In [ ]:
# outer join

In [ ]:
# left join

In [ ]:
# right join