In [1]:
#http://pinkwink.kr/959 엑셀 불러오는법 (xlsx)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [7]:
data=pd.read_excel('Seoul_Pop_detail 1.xlsx')
data.head(6)

,기간,65세,66세,67세,68세,69세,70세,71세,72세,73세,74세,75세,76세,77세,78세,79세,80세
0,2013,96948,99381.0,80330,71025.0,71913.0,70798.0,84397.0,67721.0,58019.0,57326.0,50202.0,45327.0,41164.0,38703.0,32792.0,27777.0
1,2014,96354,95181.0,97469,78719.0,69544.0,70375.0,69173.0,82269.0,65960.0,56411.0,55563.0,48596.0,43781.0,39642.0,37078.0,31228.0
2,2015,93155,94226.0,93095,95131.0,76905.0,67767.0,68503.0,67211.0,79812.0,64075.0,54571.0,53650.0,46780.0,42051.0,37947.0,35347.0
3,2016,81961,91255.0,92072,90835.0,92833.0,75089.0,65982.0,66730.0,65391.0,77388.0,62084.0,52772.0,51775.0,44952.0,40378.0,36169.0
4,2017,114400,80233.0,89224,89871.0,88753.0,90591.0,73185.0,64285.0,64933.0,63515.0,74898.0,60021.0,50860.0,49861.0,43160.0,38593.0
5,NaN,22816243,16001885.0,17795074,17924113.0,17701136.0,18067712.0,14596213.0,12821173.0,12950412.0,12667602.0,14937858.0,11970749.0,10143655.0,9944412.0,8607946.0,7697091.0

In [10]:
plt.figure(figsize=(8,4))
plt.plot(data.기간, data.65세, label='65세')
plt.plot(data.기간, data.66세, label='66세')
plt.grid()
plt.xlim(0,np.pi)
plt.ylim(-1.1,1.1)
plt.show()

SyntaxError: invalid syntax (<ipython-input-10-e49f013c22cb>, line 2)

In [18]:
table=pd.read_excel('Seoul_Pop_detail 1.xlsx',
                   header =0,
                   index_col=0,
                   usecols="A,C",
                   convert_float = True)

In [19]:
table.head()

          66세
기간
2013  99381.0
2014  95181.0
2015  94226.0
2016  91255.0
2017  80233.0

In [21]:
table=pd.read_excel('Seoul_Pop_detail 1.xlsx',
                   header=0,
                   usecols="A,C",
                   convert_float=True)

In [22]:
table.head()

     기간      66세
0  2013  99381.0
1  2014  95181.0
2  2015  94226.0
3  2016  91255.0
4  2017  80233.0

In [5]:
import pandas as pd

In [16]:
Score = pd.read_excel("2016년_1_12월_도시철도_수송실적.xlsx")
Score.sheetnames

IndexError: list index out of range

In [6]:
Y_pop = pd.read_csv('2013_2017_Year_Population_2.csv')
Y_pop.head()

,서울특별시 전체,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,NaN,NaN,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013.0,"9,989,672","9,989,672","807,941","1,091,021","1,450,761","1,743,556","1,704,191","1,556,359","918,423",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014.0,"9,952,313","9,952,313","793,299","1,040,165","1,449,146","1,695,512","1,696,568","1,567,525","956,891",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015.0,"10,022,181","10,022,181","783,299","985,790","1,447,221","1,668,253","1,701,609","1,588,333","1,037,752",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import openpyxl as op

In [13]:
cu=op.load_workbook('2016년_1_12월_도시철도_수송실적.xlsx')

C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승차. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승차순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 유입. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 유입순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 수송. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 수송순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 하차. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 하차순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승하차. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승하차순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 권종별. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 사용자별. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 무임순위. This will be removed
  warn(msg)

In [8]:
cs = cu.get_sheet_by_name("사용자별")

C:\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

KeyError: 'Worksheet 사용자별 does not exist.'

In [9]:
cs2=op.active

AttributeError: module 'openpyxl' has no attribute 'active'

In [1]:
import openpyxl

In [16]:
wb=openpyxl.load_workbook('2017년_1_8월 서울교통공사_수송실적.xlsx')
wb.sheetnames

['승차인원(a)',
 '승차순위',
 '하차인원(b)',
 '하차순위',
 '승하차인원(a+b)',
 '승하차순위',
 '환승유입인원(c)',
 '환승유입순위',
 '수송인원(a+c)',
 '수송순위',
 '권종별 승차인원']

In [15]:
ws=wb['승차인원(a)']
ws.max_column

22

In [13]:
ws.max_row

319

In [28]:
import pandas as pd
lv=pd.read_csv('역별 무임수송 실적.csv')
ls = pd.active()

OSError: Initializing from file failed