In [2]:
import pandas as pd

In [16]:
Y_pop = pd.read_csv('2013_2017_Year_Population_2.csv')
Y_pop

,서울특별시 전체,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,NaN,NaN,계,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013.0,"9,989,672","9,989,672","807,941","1,091,021","1,450,761","1,743,556","1,704,191","1,556,359","918,423",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014.0,"9,952,313","9,952,313","793,299","1,040,165","1,449,146","1,695,512","1,696,568","1,567,525","956,891",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015.0,"10,022,181","10,022,181","783,299","985,790","1,447,221","1,668,253","1,701,609","1,588,333","1,037,752",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2016.0,"9,930,616","9,930,616","761,314","934,205","1,442,701","1,620,974","1,678,172","1,570,037","1,076,270",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017.0,"9,857,426","9,857,426","728,462","894,656","1,447,115","1,579,189","1,647,989","1,553,543","1,109,052",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,16.37534245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,17.18292019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import openpyxl as op

In [13]:
cu=op.load_workbook('2016년_1_12월_도시철도_수송실적.xlsx')

C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승차. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승차순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 유입. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 유입순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 수송. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 수송순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 하차. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 하차순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승하차. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 승하차순위. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 권종별. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 사용자별. This will be removed
  warn(msg)
C:\Miniconda3\lib\site-packages\openpyxl\packaging\workbook.py:92: UserWarning: File contains an invalid specification for 무임순위. This will be removed
  warn(msg)

In [8]:
cs = cu.get_sheet_by_name("사용자별")

C:\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

KeyError: 'Worksheet 사용자별 does not exist.'

In [9]:
cs2=op.active

AttributeError: module 'openpyxl' has no attribute 'active'

In [1]:
import openpyxl

In [16]:
wb=openpyxl.load_workbook('2017년_1_8월 서울교통공사_수송실적.xlsx')
wb.sheetnames

['승차인원(a)',
 '승차순위',
 '하차인원(b)',
 '하차순위',
 '승하차인원(a+b)',
 '승하차순위',
 '환승유입인원(c)',
 '환승유입순위',
 '수송인원(a+c)',
 '수송순위',
 '권종별 승차인원']

In [15]:
ws=wb['승차인원(a)']
ws.max_column

22

In [13]:
ws.max_row

319

In [28]:
import pandas as pd
lv=pd.read_csv('역별 무임수송 실적.csv')
ls = pd.active()

OSError: Initializing from file failed